<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Test">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="extentlisteners.ExtentListeners" />
		<listener class-name="extentlisteners.CustomListeners" />
	</listeners>

	<test name="Sanity Test">
		<classes>
			<class name="testcases.SanityTest" />
			<class name="testcases.V2E_Tests" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
